<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
		</head>
		<body>
		<div class="container">
			<section id="top">
				<div class="outer">
					<div class="middle">
						{{ content }}
						<button href="bottom">Learn more</button>
					</div>
				</div>
			</section>
			
			<section id="bottom">
				<div>
						<p>Upss</p>
				
				</div>
			</section>
			</div>
			<footer>
				<div class="contact">
	    		<ul>
	        		<li><a href="mailto:mail@pagealchemy.com">Contact us</a></li>
	        		</ul>
				</div>
			</footer>
		<script src="/js/pa.js"> </script>
		</body>
	</html>
